<div class="p-5">
    <div class="py-4 px-2 flex flex-col justify-around items-center">
        <div class="w-full my-3 flex flex-col items-center p-2">
            <h1 class="text-[40px] font-semibold text-center text-[#070E20]">Why Tamil Forex Signals ?</h1>
            <p class="text-gray-600 text-center text-xl font-medium my-5">
                Better-than-market conditions for all.
            </p>
            <app-button [label]="openAnAccount"></app-button>
        </div>
        <div class="w-11/12 my-6 flex justify-around items-center  max-[768px]:w-full max-[768px]:flex-wrap">
            <div class="border-r-2 p-7 w-full max-[768px]:p-3">
                <div class="w-full flex flex-col items-center">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">15 years</h1>
                    <p class="text-gray-600 mt-3 text-l text-center ">of multi-asset brokerage
                        excellence</p>
                </div>
            </div>
            <div class="border-r-2 p-7 w-full max-[768px]:p-3">
                <div class="w-full flex flex-col items-center">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">Global</h1>
                    <p class="text-gray-600 mt-3 text-l text-center ">and local payment options</p>
                </div>
            </div>
            <div class="border-r-2 p-7 w-full max-[768px]:p-3">
                <div class="w-full flex flex-col items-center">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">24/7</h1>
                    <p class="text-gray-600 mt-3 text-l text-center ">multilingual support</p>
                </div>
            </div>
            <div class="p-7 w-full max-[768px]:p-3">
                <div class="w-full flex flex-col items-center">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">Licensed</h1>
                    <p class="text-gray-600 mt-3 text-l text-center">by multiple regulatories</p>
                </div>
            </div>
        </div>
    </div>
</div>