<div class="p-5">
    <div class="flex flex-col items-center justify-around px-2 py-4">
        <div class="flex flex-col items-center w-full p-2 my-3">
            <h1 class="text-[40px] font-semibold text-center text-[#070E20]">Why Tamil FX Signals ?</h1>
            <p class="my-5 text-xl font-medium text-center text-gray-600">
                Better-than-market conditions for all.
            </p>
            <app-button [label]="openAnAccount" (click)="redirectToExternal()"></app-button>
        </div>
        <div class="w-11/12 my-6 flex justify-around items-center  max-[768px]:w-full max-[768px]:flex-wrap">
            <div class="border-r-2 p-7 w-full max-[768px]:p-3">
                <div class="flex flex-col items-center w-full">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">10 years</h1>
                    <p class="mt-3 text-center text-gray-600 text-l ">of multi-asset brokerage
                        excellence</p>
                </div>
            </div>
            <div class="border-r-2 p-7 w-full max-[768px]:p-3">
                <div class="flex flex-col items-center w-full">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">Global</h1>
                    <p class="mt-3 text-center text-gray-600 text-l ">and local payment options</p>
                </div>
            </div>
            <div class="border-r-2 p-7 w-full max-[768px]:p-3">
                <div class="flex flex-col items-center w-full">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">24/7</h1>
                    <p class="mt-3 text-center text-gray-600 text-l ">multilingual support</p>
                </div>
            </div>
            <div class="p-7 w-full max-[768px]:p-3">
                <div class="flex flex-col items-center w-full">
                    <h1 class="font-bold text-4xl max-[768px]:text-3xl text-[#070E20]">Licensed</h1>
                    <p class="mt-3 text-center text-gray-600 text-l">by multiple regulatories</p>
                </div>
            </div>
        </div>
    </div>
    <app-swiper></app-swiper>

</div>