<div class="relative">
    <div class=" mx-auto w-3/4 lg:w-2/3 overflow-hidden border border-gray-200 rounded-lg shadow-lg">
        <!-- Carousel Container -->
        <div class="flex transition-transform duration-700 ease-in-out"
            [style.transform]="'translateX(-' + activeIndex * 100 + '%)'">
            <!-- Carousel Item -->
            <div class="w-full flex-shrink-0" *ngFor="let video of videoList; let i = index">
                <div class="aspect-w-16 aspect-h-9">
                    <!-- Check if video is from YouTube -->
                    <ng-container *ngIf="video.type === 'youtube'">
                        <iframe width="100%" height="100%" class="w-full h-full object-cover"
                            [src]="getSafeYouTubeUrl(video.src)" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </ng-container>

                    <!-- Local video -->
                    <ng-container *ngIf="video.type === 'local'">
                        <video controls class="w-full h-full object-cover" [src]="video.src"
                            [poster]="video.poster"></video>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- Navigation Controls -->
        <button
            class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-700 bg-opacity-50 text-white rounded-full p-2"
            (click)="prevSlide()">
            &#8249;
        </button>
        <button
            class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-700 bg-opacity-50 text-white rounded-full p-2"
            (click)="nextSlide()">
            &#8250;
        </button>


    </div>
    <!-- Indicators -->
    <div class="relative mt-6 flex justify-center space-x-2 w-full">
        <button *ngFor="let video of videoList; let i = index" class="w-3 h-3 rounded-full"
            [ngClass]="i === activeIndex ? 'bg-blue-500' : 'bg-gray-300'" (click)="goToSlide(i)"></button>
    </div>

</div>