<div class="p-5 max-[768px]:mt-20">
    <div class="flex flex-col items-center justify-center px-2 py-4">
        <div class="flex flex-wrap justify-around w-full my-3 max-[768px]:my-7">
            <div
                class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                <span class="text-gray-600 text-xl max-[768px]:text-2xl">Fast execution</span>
            </div>
            <div
                class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                <span class="text-gray-600 text-xl max-[768px]:text-2xl">Stable spreads</span>
            </div>
            <div
                class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                <span class="text-gray-600 text-xl max-[768px]:text-2xl">Seamless withdrawals*</span>
            </div>
            <div
                class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                <span class="text-gray-600 text-xl max-[768px]:text-2xl">Zero commission**</span>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center w-full py-6 my-6">
            <h1 class="text-4xl font-semibold text-center max-[768px]:text-4xl text-[#070E20]">
                We know what’s important to you
            </h1>
            <p class="text-gray-600 text-center font-medium w-1/2 p-4 max-[768px]:w-full">
                At Tamil FX Signals, we deliver the best possible trading conditions
                on gold, silver and other popular assets, giving you the peace of mind
                you need to focus on the markets.
            </p>
            <app-button [label]="openAccount" class="my-3" (click)="redirectToExternal()"></app-button>
        </div>
        <div class="flex justify-around w-full max-[768px]:flex-col items-center sm:space-x-12">
            <div
                class="relative p-4 rounded-md bg-[#070E20] w-1/4 max-[768px]:w-1/2 h-96 my-4 max-[550px]:w-full cursor-pointer hover:scale-105 transition-transform duration-300 flex flex-col justify-start items-center">
                <!-- Payments label -->
                <div class="w-fit px-4 py-2 bg-[#6A9AB0] bg-opacity-20 rounded-full mt-5">
                    <p class="text-xs text-white">Payments</p>
                </div>

                <!-- Title and Overlapping Cards Wrapper -->
                <div class="relative flex flex-col items-center w-full mt-4">
                    <!-- Title -->
                    <p class="mb-4 text-2xl font-semibold text-center text-white">
                        Local payment methods
                    </p>

                    <!-- Overlapping Cards -->
                    <div class="relative flex items-center justify-center mt-6">
                        <!-- CARD 1 (Top, active) -->
                        <div
                            class="w-56 h-12 bg-[#1a1f35] rounded-md absolute top-0 z-30 flex flex-col items-between justify-center p-4 text-white shadow-md ">
                            <div class="flex items-center">
                                <i class="text-sm fas fa-university"></i>
                                <p class="text-xs"> BANK ACCOUNT</p>
                            </div>
                            <p class="text-[#0f8483] text-xs font-semibold">
                                You’ve been paid Rs. 8000
                            </p>
                        </div>

                        <!-- CARD 2 (Middle) -->
                        <div
                            class="w-52 h-14 bg-[#2c3e50] rounded-md absolute top-4 z-20 flex items-end justify-center text-white shadow-md text-xs">
                            You’ve been paid Rs. 1200
                        </div>

                        <!-- CARD 3 (Lowest, back) -->
                        <div
                            class="w-48 h-16 bg-[#34495e] rounded-md absolute top-8 z-10 flex items-end justify-center text-white shadow-md text-xs">
                            You’ve been paid Rs. 5000
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="relative p-4 rounded-md bg-[#070E20] w-1/4 max-[768px]:w-1/2 h-96 my-2 max-[550px]:w-full cursor-pointer hover:scale-105 transition-transform duration-300">
                <!-- Background Image -->
                <img src="assets/images/card-bg-2.jpg" alt="Support Background"
                    class="absolute inset-0 object-cover w-full h-full rounded-md" />

                <!-- Overlay for Support Text -->
                <div class="relative z-10 flex flex-col items-center justify-center mt-5">
                    <div class="w-fit px-4 py-2 rounded-full bg-[rgba(26,31,53,0.5)]">
                        <p class="text-xs text-base text-white">Support</p>
                    </div>
                    <div>
                        <p class="mt-3 text-2xl font-semibold text-center text-white">
                            Live 24/7 Support
                        </p>
                    </div>
                </div>
            </div>

            <div
                class="w-1/4 rounded-md bg-[#070E20] flex flex-col items-center justify-around p-4 max-[768px]:w-1/2 h-96 my-2 max-[550px]:w-full cursor-pointer hover:scale-105 transition-transform duration-300">
                <div class="px-4 py-2 rounded-full bg-[#6A9AB0] bg-opacity-20">
                    <p class="text-xs text-base text-white">Swap-Free</p>
                </div>
                <div>
                    <p class="mt-2 text-2xl font-semibold text-center text-white">
                        No Swaps No Problems
                    </p>
                </div>
                <div
                    class="w-[150px] h-[70px] rounded-full p-2 flex justify-between items-center mt-3 bg-[#6A9AB0] bg-opacity-25">
                    <div class="w-[40%] h-full rounded-full border-green-500 bg-[#0f8483]"></div>
                    <div class="text-4xl text-white">0%</div>
                </div>
                <div>
                    <p class="mt-1 text-sm font-medium text-center text-gray-200">
                        Swap-free conditions are available on most asset classes. T&Cs
                        apply.
                    </p>
                </div>
            </div>
            <div
                class="relative p-4 rounded-md bg-[#070E20] w-1/4 max-[768px]:w-1/2 h-96 my-2 max-[550px]:w-full cursor-pointer hover:scale-105 transition-transform duration-300">
                <!-- Background Image -->
                <img src="assets/images/card-bg-1.jpg" alt="Support Background"
                    class="absolute inset-0 object-cover w-full h-full rounded-md" />

                <!-- Overlay for Support Text -->
                <div class="relative z-10 flex flex-col items-center justify-center mt-5">
                    <div class="w-fit px-4 py-2 rounded-full bg-[rgba(26,31,53,0.5)]">
                        <p class="text-xs text-base text-white">Execution</p>
                    </div>
                    <div>
                        <p class="mt-2 text-2xl font-semibold text-center text-white">
                            Fast, reliable execution
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>