<div class="p-5 max-[768px]:p-0">
    <div class="py-4 px-2 flex flex-col justify-around items-center max-[768px]:p-0">
        <div class="w-full my-3">
            <h1 class="text-4xl font-semibold text-center max-[768px]:text-3xl text-[#070E20] max-[768px]:px-3">
                How to get started with Tamil FX Signals
            </h1>
        </div>
        <div class="relative p-5 flex justify-center max-[768px]:p-0">
            <img src="assets/images/man-image.jpg" class="w-[80%] rounded-md max-[768px]:w-full mt-3" />
            <div
                class="absolute -bottom-7 w-3/4 pb-0 flex justify-center items-end max-[768px]:w-full max-[768px]:-bottom-10 max-[380px]:-bottom-20">
                <div class="bg-[#070E20] shadow-lg p-5 mb-0 rounded-md flex flex-row w-[80%] max-[768px]:w-[100%]">
                    <!-- Step 1 -->
                    <div
                        class="flex flex-col items-start justify-center w-full px-1 border-r-2 border-neutral-800 md:w-1/3">
                        <div
                            class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                            <span class="text-gray-300 text-l">Step 1</span>
                        </div>
                        <div class="w-full pl-2 max-[768px]:p-1">
                            <h1 class="font-bold text-2xl max-[768px]:text-[16px] text-[#0f8483]">
                                Open an account
                            </h1>
                            <p class="mt-3 text-gray-300">
                                Click the button below and follow our easy account setup process
                            </p>
                        </div>
                    </div>
                    <!-- Step 2 -->
                    <div
                        class="flex flex-col items-start justify-center w-full px-1 border-r-2 border-neutral-800 md:w-1/3">
                        <div
                            class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                            <span class="text-gray-300 text-l">Step 2</span>
                        </div>
                        <div class="w-full pl-2 max-[768px]:p-1">
                            <h1 class="font-bold text-2xl max-[768px]:text-[16px] text-[#0f8483]">
                                Make a deposit
                            </h1>
                            <p class="mt-3 text-gray-300">
                                Get ready to take advantage of the next trading opportunity
                            </p>
                        </div>
                    </div>
                    <!-- Step 3 -->
                    <div class="flex flex-col items-start justify-center w-full px-1 md:w-1/3">
                        <div
                            class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                            <span class="text-gray-300 text-l">Step 3</span>
                        </div>
                        <div class="w-full pl-2 max-[768px]:p-1">
                            <h1 class="font-bold text-2xl max-[768px]:text-[16px] text-[#0f8483]">
                                Start trading
                            </h1>
                            <p class="mt-3 text-gray-300">
                                Open your trading platform and place your first trade
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5 my-7 max-[768px]:my-10 max-[380px]:my-20">
            <app-button [label]="startExploring" (click)="redirectToExternal()"></app-button>
        </div>
        <div class="w-3/4 ">
            <div class="w-full my-3">
                <h1 class="text-4xl font-semibold text-center max-[768px]:text-3xl text-[#070E20] max-[768px]:px-3">
                    We creating Solution for You Organization
                </h1>
            </div>
            <div class="flex flex-wrap justify-center gap-6">
                <!-- Forex Trading Card -->
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/1.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">Forex Trading</h3>
                    <p class="text-sm text-gray-600">
                        Forex Exchange is the process of changing one currency into another currency for a variety of
                        reasons,
                        usually...
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/2.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">Copy Trading</h3>
                    <p class="text-sm text-gray-600">
                        Low Risk and Standard profit and make passive income for every month.
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/3.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">24/7 Support</h3>
                    <p class="text-sm text-gray-600">
                        Responsive Live chat support, Remote desktop support and help with free and guidance regarding
                        optimum settings...
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/4.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">Verified Past Performance</h3>
                    <p class="text-sm text-gray-600">
                        Genuine performance result and trading statements with detailed analysis available for
                        verification.
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/5.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">High Returns with Low Risk</h3>
                    <p class="text-sm text-gray-600">
                        A good strategy like ours can make wonderful gains even with low drawdowns.
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/6.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">Install And Forget</h3>
                    <p class="text-sm text-gray-600">
                        The installation process is easy, especially with our active agents who will guide you every
                        step of the way.
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/4.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">Monitor from mobile</h3>
                    <p class="text-sm text-gray-600">
                        Once your copy trading is installed, you can see the copy trading make profits from your mobile
                        phone. No PC required.
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/5.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">Low starting capital</h3>
                    <p class="text-sm text-gray-600">
                        Start with a low minimum capital and grow your account as you gain confidence in our profitable
                        strategy.
                    </p>
                </div>
                <div class="bg-[#E9EFF7] rounded-lg shadow-lg p-6 max-w-xs text-center flex flex-col items-center">
                    <div class="p-3 mb-4 bg-white rounded-full w-fit">
                        <img src="https://www.tamilforexsignals.com/assets/images/service/6.png"
                            alt="Forex Trading Icon" class="w-12 h-12 mx-auto">
                    </div>
                    <h3 class="mb-2 text-xl font-semibold text-gray-800">Trade without Emotions</h3>
                    <p class="text-sm text-gray-600">
                        Emotions are the main reason why manual traders fail in trading. Get rid of emotions with our
                        complete trading strategy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>