<div class="p-5 max-[768px]:p-0">
    <div class="py-4 px-2 flex flex-col justify-around items-center max-[768px]:p-0">
        <div class="w-full my-3">
            <h1 class="text-4xl font-semibold text-center max-[768px]:text-3xl text-[#070E20] max-[768px]:px-3">How to
                get started with
                Tamil Forex
                Signals</h1>
        </div>
        <div class=" relative p-5 flex justify-center max-[768px]:p-0">
            <img src="assets/images/man-image.jpg" class="w-[80%] rounded-md max-[768px]:w-full mt-3">
            <div
                class="absolute -bottom-7  w-3/4 pb-0 flex justify-center items-end max-[768px]:w-full  max-[768px]:-bottom-10 max-[380px]:-bottom-20">
                <div class="bg-[#070E20] shadow-lg p-5 mb-0 rounded-md flex flex-row  w-[80%] max-[768px]:w-[100%]">
                    <!-- Step 1 -->
                    <div
                        class="flex flex-col items-start justify-center border-r-2 border-neutral-800  px-1 w-full md:w-1/3">
                        <div
                            class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483]  before:text-2xl before:mr-2">
                            <span class="text-gray-300 text-l">Step 1</span>
                        </div>
                        <div class="w-full pl-2 max-[768px]:p-1">
                            <h1 class="font-bold text-2xl max-[768px]:text-[16px] text-[#0f8483]">
                                Open
                                an account</h1>
                            <p class="text-gray-300 mt-3">Click the button below and follow our easy account setup
                                process</p>
                        </div>
                    </div>
                    <!-- Step 2 -->
                    <div
                        class="flex flex-col items-start justify-center border-r-2 border-neutral-800 px-1 w-full md:w-1/3">
                        <div
                            class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                            <span class="text-gray-300 text-l">Step 2</span>
                        </div>
                        <div class="w-full pl-2 max-[768px]:p-1">
                            <h1 class="font-bold text-2xl max-[768px]:text-[16px] text-[#0f8483]">
                                Make a deposit
                            </h1>
                            <p class="text-gray-300 mt-3">Get ready to take advantage of the
                                next trading opportunity
                            </p>
                        </div>
                    </div>
                    <!-- Step 3 -->
                    <div class="flex flex-col items-start justify-center  px-1 w-full md:w-1/3">
                        <div
                            class="flex items-center mb-2.5 before:content-['•'] before:text-[#0f8483] before:text-2xl before:mr-2">
                            <span class="text-gray-300 text-l">Step 3</span>
                        </div>
                        <div class="w-full pl-2 max-[768px]:p-1">
                            <h1 class="font-bold text-2xl max-[768px]:text-[16px] text-[#0f8483]">
                                Start
                                trading
                            </h1>
                            <p class="text-gray-300 mt-3">Open your trading platform and place
                                your first trade</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5 my-7 max-[768px]:my-10 max-[380px]:my-20">
            <app-button [label]="startExploring"></app-button>
        </div>
    </div>
</div>