<div class="p-5">
    <div class="py-4 px-2 flex flex-col justify-around items-center">
        <div class=" relative p-5 flex justify-center w-full ">
            <!-- <img src="https://d33vw3iu5hs0zi.cloudfront.net/media/home_cta_banner_7bb7b120e2.jpg"
                class="w-full rounded-md h-[400px] "> -->
            <img src="assets/images/bg-green.jpg" class="w-full rounded-md h-[400px] ">
            <div class="absolute -bottom-8  w-full pb-0 flex justify-center items-end">
                <div class="bg-[#070E20] shadow-lg p-5 mb-0 rounded-md flex flex-col md:flex-row gap-4 w-[80%]">
                    <div class="w-full flex flex-row justify-between items-center py-8 px-6 max-[550px]:px-2">
                        <h1 class="font-medium text-4xl text-white w-1/2 max-[768px]:text-2xl  max-[768px]:w-3/4">
                            Discover a more efficient way to trade oil</h1>
                        <app-button [label]="register" class=""></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 flex flex-col justify-center items-center mt-6 w-full">
        <div class="w-[80%] text-gray-600 mt-3 text-l text-left flex flex-col">
            <p class="my-4">This page is not owned or operated by Tamil Forex Signals.</p>

            <p class="my-4">CFDs are complex derivative products which are traded outside an exchange. These products
                come with a
                high risk of
                losing money rapidly due to leverage
                and thus are not appropriate for all investors.</p>

            <p class="my-4"> *The term "instant" indicates that a transaction is carried out within a few seconds
                without manual
                processing by
                financial department specialists. This does not guarantee that a deposit and withdrawal will be
                completed
                instantaneously, but that the process is begun instantly. Processing times depend entirely on the
                payment method chosen.</p>

            <p class="my-4"> **Swap-free conditions are available on most asset classes. T&Cs apply.</p>

            <p class="my-4">© 2008—2024. Tamil Forex Signals</p>
        </div>
    </div>

</div>