<div class="py-5">
    <div class="py-4 flex justify-around items-center max-[550px]:flex-col">
        <div class="max-[550px]:order-2 w-1/2 ">
            <img src="assets/images/lapImage.png" class="rounded-r-lg w-full ">
        </div>
        <div class="flex flex-col justify-around p-4 max-[550px]:order-1 max-[380px]:items-center">
            <img src="assets/images/star-logo.svg" class="w-[100px] h-[100px] p-4">
            <div class="w-full p-4  ">
                <h1
                    class="text-4xl font-semibold text-left w-3/4 max-[768px]:w-full max-[768px]:text-3xl max-[380px]:text-center text-[#070E20] ">
                    Stay on top
                    of your trades</h1>
                <p
                    class="text-gray-600 text-left font-medium mt-2 w-3/4 text-sm max-[768px]:w-full max-[768px]:text-l  max-[550px]:mt-1 max-[380px]:text-center">
                    with Tamil Forex Signals state-of-the-art trading platforms for mobile, desktop and web
                </p>
            </div>
            <div class="p-4 max-[768px]:flex justify-center">
                <app-button [label]="startExploring" (click)="redirectToExternal()"></app-button>
            </div>
            <div class="flex flex-col w-3/4 p-4 max-[550px]:items-center max-[550px]:w-full">
                <div class="py-4 border-b-2 border-gray-300 max-[550px]:w-full max-[550px]:text-center">
                    <p class="text-xl">Tamil Forex Signals Terminal</p>
                </div>
                <div class="py-4 max-[550px]:w-full max-[550px]:text-center">
                    <p class="text-xl">Tamil Forex Signals Trade app</p>
                </div>
            </div>
        </div>
    </div>
</div>